.jumbotron {
  background-image: url("../image/ineedu.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

 .back_color {
  background-image: url("../image/light_gray.png");

}

.img_background {
  background-image: url("../image/large_pawprints.jpg");
}

.img_location {
  width: 250px;
  height: 200px;
  background-position: left;
}

.row_margin {
  margin-top: -45px;
}

.german_shepherd {
  background-image: url("../image/gs.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

.img_size:hover {
  width: 250px;
  height: 150px;
}

.img_size {
  width: 186px;
  height: 126px;
}

.blue_heeler {
  background-image: url("../image/takemehome.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

.husky {
  background-image: url("../image/emma.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

.golden_retriever {
  background-image: url("../image/oldretreiver.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

.black_lab {
  background-image: url("../image/dekota6.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

.animal_shelter {
  background-image: url("../image/animal-shelter-design.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

.rounded {
  width: 186px;
  height: 126px;
}

.img_fade:hover {
  opacity: 0.5 !important;
}

.img_fade {
  transition: 2s;
  opacity: 1;
}

.img-container:hover .img-text {
  opacity: 1 !important;
  transition: 1s;
}

.img-text {
  opacity: 0;
  position: absolute;
  right: 45%;
  top: 65%;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.form-textarea {
  min-height: 150px;
  line-height: 1.5;
  resize: vertical;
  width: 530px;
}

.group_animals {
  background-image: url("../image/grouppuppies.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
}

@media(max-width: 576px) {
  .img-text {
    opacity: 1;
    position: absolute;
    right: 45%;
    top: 65%;
    text: gray-dark;
  }

  .img-container: .img-text {
    opacity: 1 !important;
    transition: 1s;
  }
}
